.main-content {
  flex-grow: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.post-card {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.post-header {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  font-size: 14px;
  text-align: left;
}

.username {
  font-weight: bold;
  color: #333;
}

.userId {
  margin-left: 3px;
  color: #888;
}

.timestamp {
  margin-left: 10px;
  color: #888;
}

.post-content {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 16px;
  color: #333;
  text-align: left;
}

.post-actions {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 7px;
}

.like-button,
.repost-button,
.comment-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 14px;
  color: #333;
}

.like-button:hover,
.repost-button:hover,
.comment-button:hover {
  color: #888;
}
