.post-form {
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 20px;
}

.post-form textarea {
  font-size: 16px;
  width: 100%;
  padding: 10px;
  border: none;
  margin-bottom: 10px;
  resize: vertical;
  resize: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.post-form input[type="file"] {
  float: left;
  margin-bottom: 10px;
  border: none;
}

.post-form button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 15px;
  cursor: pointer;
  float: right;
}

:focus {
  outline: none;
}
