h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.auth-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth-form {
  width: 300px;
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.auth-form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.auth-form input {
  width: 277px;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.auth-form button {
  width: 100%;
  margin-top: 15px;
  padding: 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.auth-form button.social-login {
  width: 100%;
  margin-top: 10px;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.auth-form button.social-login img {
  width: 20px;
  margin-right: 10px;
}

.auth-form button:hover,
.auth-form button.social-login:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  font-size: 14px;
  margin: 0;
  text-align: center;
}
